h1{
	font-family: Monaco;
	font-size: 30px;
	background-color: #BF9E7E;
	color: #97D2DE;
	text-align: center;
}
h2{
	font-family: Monaco;
	font-size: 25px;
	background-color: #97D2DE;
	color: #BF9E7E;
	text-align: center;
	
}

footer{
	font-family: Monaco;
	font-size: 20px;
	background-color: #BF9E7E;
	color: #97D2DE;
	text-align: center;
	/*margin: 30px;*/

	width: 100%;
	clear: both;
	margin-top: 20px;
}

form{
	font-family: Monaco;
	font-size: 15px;
	background-color: #97D2DE;
	text-align: left;
	width: 250px;
	height: 220px;
	border: 5px dashed #BF9E7E;
	margin: 0 auto;
	padding: 10px;

}

#signup{
	margin: 0 auto;
	width: 400px;
	float: left;
	margin-bottom: 20px;
	margin-right: 30px;
	
}

#login{
	margin: 0 auto;
	height: 170px;
	width: 400px;
	float: left;
	margin-right: 20px;

}

#container{
	width: 100%;
	margin-left: 180px;
}

label{
	color:#BF9E7E; 
}

input{
	border: 2px solid #BF9E7E;
	margin: 5px;
}

#submit{
	width: 240px;
	height: 25px;
	font-size: 15px;
	font-family: Monaco;

}
